body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  position: relative;
  width: 510px;
  height: 510px;
}

div span {
  content: '';
  position: absolute;
  width: 500px;
  height:700px;
  top: auto;
  background: rgb(62, 127, 186);
}
