* {
  box-sizing:border-box;
}

body {
  background-color: rgb(122, 138, 119);
}

/* .object {
  background-color: rgb(218, 161, 95);
  /* max-width:900px; */
  /* width:50%; */
  /* width:50vw;
  height:200px;
} */

.desktop-box {
  background-color: rgb(216, 190, 221);
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.mobile-box {
  background-color: rgb(167, 80, 61);
  height:100px;
  justify-content:center;
  align-items:center;
  display:none;
}

.checkers {
  display:flex;
}

.box {
  width:100%;
  height:100px;
}

.light {
  background-color: rgb(231, 219, 195);
}

.dark {
  background-color: rgb(71, 67, 65);
}

.object-below {
  background-color:rgb(180, 120, 58);
  height:200px;
  border-radius:50%;
  transition: border-radius 1s;
}

@media screen and (max-width:900px) {
  /* TABLET */

  body {
    background-color:rgb(109, 118, 157);
  }

  .object-below {
    background-color:rgb(84, 73, 97);
    border-radius:10px;
  }

}

@media screen and (max-width:600px) {
  /* PHONE */

  .checkers {
    /* display:block; */
    /* flex-direction:column; */
    flex-wrap:wrap;
  }

  .box {
    width:33.33%;
  }

  .mobile-box {
    display:flex;
  }

  .desktop-box {
    display:none;
  }

}
