* {
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: rgb(118, 143, 130);
  border-radius:50%;
  border:none;
  height:200px;
  width:300px;
  cursor:cell;
}

button:hover {
 background-color: rgb(255, 224, 131);
}

canvas{
  width: 100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
  /* z-index: -1; */
}

.sidebar {
  background-color: rgb(196, 100, 100);
  position:fixed;
  top:0;
  right:-100px;
  height:800px;
  width:100px;
  padding:20px;
  transition: right .5s ease-in-out;
}

.active {
  right:0;
}

.draggable {
  cursor:grab;
  width:300px;
  height:300px;
  background-color: rgb(172, 135, 146);
}

.textbox {
  font-size: 40px;
  width: 100%;
  overflow: hidden;
  border:1px solid #ccc;
  background-color:rgb(195, 194, 132);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 130px solid red;
}
