* {
  box-sizing:border-box;
}

@font-face {
    font-family: 'terminal_grotesqueregular';
    src: url('terminal-grotesque-webfont.woff2') format('woff2'),
         url('terminal-grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'terminal-grotesque', sans-serif;
}

p {
  background-color: rgb(247, 197, 85);
  padding:30px;
  border:10px solid rgb(81, 145, 105);
  margin:30px;
  max-width:300px;
  height:400px;
}
