body {
  text-align: center;
  background-color: royalblue;
  color: white;
  text-shadow: 3px 3px 3px #ababab;
}

h1 {
  text-align: center;
}

p1 {
  font-family: 'Tangerine', cursive;
  font-size: 70px

}
