body {
  text-align:left;
  background-color: rgb(255, 247, 177);
  color: rgb(74, 43, 10);
}

h1 {
  text-align:left;
  text-shadow: 2px 2px 2px #ababab;
  font-family: 'Lemonada', cursive;
  font-size:30px
}

address {
  font-family: 'Lemonada', cursive;
}

p {
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p1 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p2 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p3 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p4 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p5 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p6 {
  border: 1px solid;
  width: 340px;
  height: 280px;
  padding-top: 30px;
  padding-left: 10px;
  line-height: 28px;
  font-family: 'Lemonada', cursive;
  font-style: italic;
  font-size:20px


}

.p6-5 {
  line-height: 28px;
  font-family: 'Lemonada', cursive;
  font-style: italic;
  font-size:10px
}

.p7 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p8 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.p9 {
  line-height: 28px;
  font-family: 'Fira Code', monospace;
  font-size:20px
}

.img0 {
  border: 1px solid;
  width: 62.5px;
  height: 62.5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.img1 {
  border: 1px solid;
  width: 500px;
  height: 350px;
}

ul {
  list-style:none;
  font-family: 'Fira Code', monospace;
  font-size:15
}

.button {
  scroll-behavior: smooth;
}

.dropdown {
  font-family: 'Fira Code', monospace;
  font-size:20px
  position: relative;
  display: inline-block;s
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dash {
  text-align: left;
  margin-left: 0;
  padding:5px;
}
